resources/wsdl/SyncronizeAgents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
				  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
				  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
				  xmlns:tns="http://collab.com/webservices/" 
				  xmlns:s="http://www.w3.org/2001/XMLSchema" 
				  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
				  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
				  targetNamespace="http://professionalservices.collab.pt/" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="SigEncr"
            xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
            xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsp:ExactlyOne>
        <wsp:All>
            <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                <wsp:Policy>
                    <sp:InitiatorToken>
                        <wsp:Policy>
                            <sp:X509Token
                                    sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                <wsp:Policy>
                                    <sp:WssX509V3Token10/>
                                </wsp:Policy>
                            </sp:X509Token>
                        </wsp:Policy>
                    </sp:InitiatorToken>
                    <sp:RecipientToken>
                        <wsp:Policy>
                            <sp:X509Token
                                    sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                <wsp:Policy>
                                    <sp:WssX509V3Token10/>
                                </wsp:Policy>
                            </sp:X509Token>
                        </wsp:Policy>
                    </sp:RecipientToken>
                    <sp:AlgorithmSuite>
                        <wsp:Policy>
                            <sp:Basic256/>
                        </wsp:Policy>
                    </sp:AlgorithmSuite>
                    <sp:Layout>
                        <wsp:Policy>
                            <sp:Lax/>
                        </wsp:Policy>
                    </sp:Layout>
                    <sp:IncludeTimestamp/>
                    <sp:EncryptSignature/>
                    <sp:OnlySignEntireHeadersAndBody/>
                </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                <wsp:Policy>
                    <sp:MustSupportRefKeyIdentifier/>
                    <sp:MustSupportRefIssuerSerial/>
                </wsp:Policy>
            </sp:Wss10>
            <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                <sp:Body/>
            </sp:SignedParts>
            <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                <sp:Body/>
            </sp:EncryptedParts>
        </wsp:All>
    </wsp:ExactlyOne>
</wsp:Policy>
  
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://collab.com/webservices/">
      <s:element name="AgentInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentInsertResponse">
        <s:complexType />
      </s:element>
      <s:element name="AgentInsertWithSiteId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentInsertWithSiteIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="AgentDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgentDeleteResponse">
        <s:complexType />
      </s:element>
      <s:element name="UserUpdatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserUpdatePasswordResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AgentInsertSoapIn">
    <wsdl:part name="parameters" element="tns:AgentInsert" />
  </wsdl:message>
  <wsdl:message name="AgentInsertSoapOut">
    <wsdl:part name="parameters" element="tns:AgentInsertResponse" />
  </wsdl:message>
  <wsdl:message name="AgentInsertWithSiteIdSoapIn">
    <wsdl:part name="parameters" element="tns:AgentInsertWithSiteId" />
  </wsdl:message>
  <wsdl:message name="AgentInsertWithSiteIdSoapOut">
    <wsdl:part name="parameters" element="tns:AgentInsertWithSiteIdResponse" />
  </wsdl:message>
  <wsdl:message name="AgentDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:AgentDelete" />
  </wsdl:message>
  <wsdl:message name="AgentDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:AgentDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UserUpdatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UserUpdatePassword" />
  </wsdl:message>
  <wsdl:message name="UserUpdatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UserUpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="SyncronizeAgentsSoap">
    <wsdl:operation name="AgentInsert">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create an user</wsdl:documentation>
      <wsdl:input message="tns:AgentInsertSoapIn" />
      <wsdl:output message="tns:AgentInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgentInsertWithSiteId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create an user</wsdl:documentation>
      <wsdl:input message="tns:AgentInsertWithSiteIdSoapIn" />
      <wsdl:output message="tns:AgentInsertWithSiteIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgentDelete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove an agent</wsdl:documentation>
      <wsdl:input message="tns:AgentDeleteSoapIn" />
      <wsdl:output message="tns:AgentDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserUpdatePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates the user password of an user</wsdl:documentation>
      <wsdl:input message="tns:UserUpdatePasswordSoapIn" />
      <wsdl:output message="tns:UserUpdatePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncronizeAgentsSoap" type="tns:SyncronizeAgentsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgentInsert">
      <soap:operation soapAction="http://collab.com/webservices/AgentInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentInsertWithSiteId">
      <soap:operation soapAction="http://collab.com/webservices/AgentInsertWithSiteId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentDelete">
      <soap:operation soapAction="http://collab.com/webservices/AgentDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdatePassword">
      <soap:operation soapAction="http://collab.com/webservices/UserUpdatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SyncronizeAgentsSoap12" type="tns:SyncronizeAgentsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgentInsert">
      <soap12:operation soapAction="http://collab.com/webservices/AgentInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentInsertWithSiteId">
      <soap12:operation soapAction="http://collab.com/webservices/AgentInsertWithSiteId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgentDelete">
      <soap12:operation soapAction="http://collab.com/webservices/AgentDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserUpdatePassword">
      <soap12:operation soapAction="http://collab.com/webservices/UserUpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="SyncronizeAgentsSoap" binding="tns:SyncronizeAgentsSoap">
      <soap:address location="http://192.168.0.233/WSmCelCCS2/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="SyncronizeAgentsSoap12" binding="tns:SyncronizeAgentsSoap12">
      <soap12:address location="http://192.168.0.233/WSmCelCCS2/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>