resources/WEB-INF/services/BB4PService/META-INF/BB4PService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BB4PService" targetNamespace="http://co.mcel.mz/bb4p" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:co="http://co.mcel.mz/types/common" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://co.mcel.mz/bb4p" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wsswssecurity-utility-1.0.xsd">
  <wsdl:types>
    <xsd:schema targetNamespace="http://co.mcel.mz/bb4p" xmlns:tns="http://co.mcel.mz/bb4p">
			<xsd:import namespace="http://co.mcel.mz/types/common" schemaLocation="mcel_types.xsd"/>
			<xsd:element name="debitAmountRequest" type="xsd:string"/>
			<xsd:element name="debitAmountResponse" type="xsd:boolean"/>
			<xsd:element name="cancelReservationRequest" type="xsd:string"/>
			<xsd:element name="cancelReservationResponse" type="xsd:boolean"/>
			<xsd:element name="refundRequest" type="xsd:string"/>
			<xsd:element name="refundResponse" type="xsd:boolean"/>
			<xsd:element name="reserveAmountRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="msisdn" type="co:msisdnType"/>
						<xsd:element name="transactionId" type="xsd:string"/>
						<xsd:element name="amount" type="xsd:float"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="reserveAmountResponse" type="xsd:boolean"/>
			<xsd:element name="checkStatusRequest" type="xsd:string"/>
			<xsd:element name="checkStatusResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="RESERVED"/>
						<xsd:enumeration value="DEBITTED"/>
						<xsd:enumeration value="CANCELLED"/>
						<xsd:enumeration value="REFUNDED"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="registerAPNRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="msisdn" type="co:msisdnType"/>
						<xsd:element name="apnId" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerAPNResponse" type="xsd:boolean"/>
			<xsd:element name="unregisterAPNRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="msisdn" type="co:msisdnType"/>
						<xsd:element name="apnId" type="xsd:int"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unregisterAPNResponse" type="xsd:boolean"/>
			<xsd:element name="getImsiRequest" type="co:msisdnType"/>
			<xsd:element name="getImsiResponse" type="xsd:string"/>
			<xsd:element name="getServiceClassRequest" type="co:msisdnType"/>
			<xsd:element name="getServiceClassResponse" type="xsd:int"/>
			<xsd:element name="emaError" type="co:EMAErrorType"/>
			<xsd:element name="csError" type="co:CSErrorType"/>
			<xsd:element name="transactionNotFound" type="xsd:string"/>
			<xsd:element name="invalidReservationStatus" type="xsd:string"/>
			<xsd:element name="csvSystemError" type="xsd:string"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="InvalidReservationStatus">
    <wsdl:part name="faultPart" element="tns:invalidReservationStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerAPNRequest">
    <wsdl:part name="registerAPNRequest" element="tns:registerAPNRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceClassResponse">
    <wsdl:part name="getServiceClassResponse" element="tns:getServiceClassResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debitAmountRequest">
    <wsdl:part name="debitAmountRequest" element="tns:debitAmountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CSError">
    <wsdl:part name="faultPart" element="tns:csError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unregisterAPNRequest">
    <wsdl:part name="unregisterAPNRequest" element="tns:unregisterAPNRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserveAmountRequest">
    <wsdl:part name="reserveAmountRequest" element="tns:reserveAmountRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TransactionNotFound">
    <wsdl:part name="faultPart" element="tns:transactionNotFound">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EMAError">
    <wsdl:part name="faultPart" element="tns:emaError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="unregisterAPNResponse">
    <wsdl:part name="unregisterAPNResponse" element="tns:unregisterAPNResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImsiRequest">
    <wsdl:part name="getImsiRequest" element="tns:getImsiRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refundResponse">
    <wsdl:part name="refundResponse" element="tns:refundResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getImsiResponse">
    <wsdl:part name="getImsiResponse" element="tns:getImsiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservationRequest">
    <wsdl:part name="cancelReservationRequest" element="tns:cancelReservationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelReservationResponse">
    <wsdl:part name="cancelReservationResponse" element="tns:cancelReservationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getServiceClassRequest">
    <wsdl:part name="getServiceClassRequest" element="tns:getServiceClassRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reserveAmountResponse">
    <wsdl:part name="reserveAmountResponse" element="tns:reserveAmountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkStatusRequest">
    <wsdl:part name="checkStatusRequest" element="tns:checkStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkStatusResponse">
    <wsdl:part name="checkStatusResponse" element="tns:checkStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="debitAmountResponse">
    <wsdl:part name="debitAmountResponse" element="tns:debitAmountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="refundRequest">
    <wsdl:part name="refundRequest" element="tns:refundRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerAPNResponse">
    <wsdl:part name="registerAPNResponse" element="tns:registerAPNResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CSVSystemError">
    <wsdl:part name="faultPart" element="tns:csvSystemError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BB4PService">
    <wsdl:operation name="debitAmount">
      <wsdl:input message="tns:debitAmountRequest">
    </wsdl:input>
      <wsdl:output message="tns:debitAmountResponse">
    </wsdl:output>
      <wsdl:fault name="f02" message="tns:InvalidReservationStatus">
    </wsdl:fault>
      <wsdl:fault name="f03" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:TransactionNotFound">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <wsdl:input message="tns:cancelReservationRequest">
    </wsdl:input>
      <wsdl:output message="tns:cancelReservationResponse">
    </wsdl:output>
      <wsdl:fault name="f04" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f02" message="tns:InvalidReservationStatus">
    </wsdl:fault>
      <wsdl:fault name="f03" message="tns:CSError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:TransactionNotFound">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refund">
      <wsdl:input message="tns:refundRequest">
    </wsdl:input>
      <wsdl:output message="tns:refundResponse">
    </wsdl:output>
      <wsdl:fault name="f04" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f02" message="tns:InvalidReservationStatus">
    </wsdl:fault>
      <wsdl:fault name="f03" message="tns:CSError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:TransactionNotFound">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reserveAmount">
      <wsdl:input message="tns:reserveAmountRequest">
    </wsdl:input>
      <wsdl:output message="tns:reserveAmountResponse">
    </wsdl:output>
      <wsdl:fault name="f02" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:CSError">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkStatus">
      <wsdl:input message="tns:checkStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:checkStatusResponse">
    </wsdl:output>
      <wsdl:fault name="f02" message="tns:TransactionNotFound">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:CSVSystemError">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registerAPN">
      <wsdl:input message="tns:registerAPNRequest">
    </wsdl:input>
      <wsdl:output message="tns:registerAPNResponse">
    </wsdl:output>
      <wsdl:fault name="f02" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:EMAError">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="unregisterAPN">
      <wsdl:input message="tns:unregisterAPNRequest">
    </wsdl:input>
      <wsdl:output message="tns:unregisterAPNResponse">
    </wsdl:output>
      <wsdl:fault name="f02" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:EMAError">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImsi">
      <wsdl:input message="tns:getImsiRequest">
    </wsdl:input>
      <wsdl:output message="tns:getImsiResponse">
    </wsdl:output>
      <wsdl:fault name="f02" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:EMAError">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceClass">
      <wsdl:input message="tns:getServiceClassRequest">
    </wsdl:input>
      <wsdl:output message="tns:getServiceClassResponse">
    </wsdl:output>
      <wsdl:fault name="f02" message="tns:CSVSystemError">
    </wsdl:fault>
      <wsdl:fault name="f01" message="tns:CSError">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BB4PServiceSOAP" type="tns:BB4PService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="debitAmount">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/debitAmount"/>
      <wsdl:input>
        <soap:body parts="debitAmountRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="debitAmountResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f03">
        <soap:fault name="f03" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelReservation">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/cancelReservation"/>
      <wsdl:input>
        <soap:body parts="cancelReservationRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="cancelReservationResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f04">
        <soap:fault name="f04" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f03">
        <soap:fault name="f03" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="refund">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/refund"/>
      <wsdl:input>
        <soap:body parts="refundRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="refundResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f04">
        <soap:fault name="f04" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f03">
        <soap:fault name="f03" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="reserveAmount">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/reserveAmount"/>
      <wsdl:input>
        <soap:body parts="reserveAmountRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="reserveAmountResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkStatus">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/checkStatus"/>
      <wsdl:input>
        <soap:body parts="checkStatusRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="checkStatusResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="registerAPN">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/registerAPN"/>
      <wsdl:input>
        <soap:body parts="registerAPNRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="registerAPNResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="unregisterAPN">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/unregisterAPN"/>
      <wsdl:input>
        <soap:body parts="unregisterAPNRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="unregisterAPNResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getImsi">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/getImsi"/>
      <wsdl:input>
        <soap:body parts="getImsiRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="getImsiResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceClass">
      <soap:operation soapAction="http://co.mcel.mz/bb4p/getServiceClass"/>
      <wsdl:input>
        <soap:body parts="getServiceClassRequest" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="getServiceClassResponse" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="f02">
        <soap:fault name="f02" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="f01">
        <soap:fault name="f01" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BB4PService">
    <wsdl:port name="BB4PServiceSOAP" binding="tns:BB4PServiceSOAP">
      <soap:address location="http://192.168.1.82:8080/CSV/services/BB4PService"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy wsu:Id="bb4pSec">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:RequireThumbprintReference/>
										<sp:WssX509V3Token10/>
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
									<wsp:Policy>
										<sp:RequireThumbprintReference/>
										<sp:WssX509V3Token10/>
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:TripleDesRsa15/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
					</wsp:Policy>
				</sp:AsymmetricBinding>
				<sp:Wss10>
					<wsp:Policy>
						<sp:MustSupportRefKeyIdentifier/>
						<sp:MustSupportRefIssuerSerial/>
					</wsp:Policy>
				</sp:Wss10>
				<sp:SignedParts>
					<sp:Body/>
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>
