resources/WEB-INF/services/PrepaidLoyaltyService/META-INF/mcel_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://co.mcel.mz/types/common" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://co.mcel.mz/types/common">
    <complexType name="msisdnType">
        <sequence>
            <element name="internationalPrefix" type="string"/>
            <element name="number" type="string"/>
        </sequence>
    </complexType>
    <complexType name="EMAErrorType">
        <sequence>
            <element name="errorCode" type="int"/>
            <element name="message" type="string"/>
        </sequence>
    </complexType>
    <complexType name="CSErrorType">
        <sequence>
            <element name="errorCode" type="int"/>
            <element name="message" type="string"/>
        </sequence>
    </complexType>
</schema>
